.grid {
  width: 134px;
}

.gridElement {
  background-color: #8b8b8b;
  border-top: thick double #373737;
  border-left: thick double #373737;
  border-right: double #ffffff;
  border-bottom: double #ffffff;
  width: 40px;
  height: 40px;
  float: left;
}

img.displayed {
  display: block;
  margin: auto;
  padding: 0px;
}
